.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Define the keyframes for marquee scrolling effect */
@keyframes marquee-scroll {
  0% {
    transform: translateX(100%); /* Start from the right */
  }
  100% {
    transform: translateX(-100%); /* Move to the left */
  }
}

/* Apply the marquee effect to the Toast notification */
.react-toastify .Toastify__toast {
  animation: marquee-scroll 10s linear infinite; /* Adjust speed with 10s */
  font-size: 16px;
  font-weight: bold;
  background-color: #1890ff;
  color: white;
  padding: 10px 20px;
}


